/ {
	chosen { zephyr,display = &ili9341; };
	aliases { display = &ili9341; };
};

/* 必要な dt-bindings（← 先頭に zephyr/ は付けない） */
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/mipi_dbi/mipi_dbi.h>
#include <dt-bindings/display/ili9xxx.h>

/* SPI3 を有効化し CS0 を GPIO0_25 に割当て */
&spi3 {
	status = "okay";
	cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;

	/* MIPI-DBI ラッパ（バス） */
	mipi_dbi: mipi-dbi-spi@0 {
		compatible = "zephyr,mipi-dbi-spi";
		reg = <0>;
		status = "okay";

		/* この MIPI-DBI が使う SPI デバイス＝SPI コントローラ */
		spi-dev = <&spi3>;

		/* D/C, RESET はバス側 */
		dc-gpios    = <&gpio0 26 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 33 GPIO_ACTIVE_LOW>;

		#address-cells = <1>;
		#size-cells = <0>;

		ili9341: display@0 {
			compatible = "ilitek,ili9340";
			reg = <0>;
			status = "okay";

			width = <240>;
			height = <320>;
			rotation = <270>;

			mipi-mode          = "MIPI_DBI_MODE_SPI_4WIRE";
			mipi-max-frequency = <40000000>;
			pixel-format       = <ILI9XXX_PIXEL_FORMAT_RGB565>;
			display-inversion;
		};
	};
};
